@import 'fluid';
@import 'variables';

$title_font_size: (
  $xs: 34px,
  $md: 48px,
);

$social_icon_size: (
  $xs: 18px,
  $md: 24px,
);

$nav_icon_size: (
  $xs: 24px,
  $md: 34px,
);

:host {
  display: block;
  width: 100%;
}

.top_bar {
  margin: auto;
  height: 80px;
  max-width: 1440px;
  z-index: 200;
  padding: 70px 20px;
}

.logo {
  @include fluid(font-size, $title_font_size);
  font-family: Paul Signature;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  color: #ffffff;
}

.menu {
  @include fluid(height, $nav_icon_size);
  width: auto;
}

.dropdown {
  position: relative;
  cursor: pointer;
  z-index: 200;
}

.dropdown:hover .dropdown_content,
.dropdown:hover .invisible_padding {
  visibility: visible; /* shows sub-menu */
  display: block;
}

.dropdown_content {
  visibility: hidden;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 200px;
  padding: 25px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
  border-radius: 5px;

  hr {
    height: 1px;
    border: 0;
    color: #e5e1dc;
    background-color: #e5e1dc;
    border-color: #e5e1dc;
  }

  &:before {
    width: 0;
    height: 0;
    content: '';
    z-index: 2;
    border-bottom: 7px solid #f9f9f9;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    right: 10%;
    bottom: 100%;
  }

  a {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;

    padding: 10px 0px;

    width: 100%;

    text-transform: uppercase;

    color: #18174a;

    &:hover {
      color: #9805a0;
    }
  }
}
