<header class="top_bar" fxLayout="row" fxLayoutAlign="start center">
  <a routerLink="/home" class="logo">Wuluwuh</a>
  <span fxFlex></span>
  <div
    fxLayout="row"
    fxLayoutGap="40px"
    fxLayoutGap.lt-sm="20px"
    fxLayoutAlign="start"
  >
    <nav class="menu_icon dropdown">
      <img class="menu" src="assets/icons/menu.svg" alt="Menu icon" />
      <div class="dropdown_content">
        <ul fxLayout="column" fxLayoutGap="15px">
          <a routerLink="/home"><li>Home</li></a>
          <hr />
          <a routerLink="/lesbian-bingo"><li>Lesbian Movie Bingo</li></a>
          <hr />
          <a routerLink="/anne-lister-code"><li>Anne Lister Code</li></a>
        </ul>
      </div>
    </nav>
  </div>
</header>
