<section
  class="content_container"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div class="welcome_card">
    <div
      class="inner_container"
      fxLayout="column"
      fxLayoutGap="30px"
      fxLayoutGap.lt-sm="20px"
      fxLayoutAlign="start center"
    >
      <div
        class="card_header"
        fxLayout="column"
        fxLayoutGap="10px"
        fxLayoutAlign="start center"
      >
        <p class="accent_text">Welcome to The</p>
        <h1 class="title_text">Queer Women in History</h1>
        <p class="accent_text">Museum</p>
      </div>

      <hr class="divider" />

      <div class="card_description">
        There are many variations of passages of Lorem Ipsum available, but the
        majority have suffered alteration in some form, by injected humour, or
        randomised words which don't look even slightly believable. If you are
        going to use a passage of Lorem Ipsum, you need to.
      </div>

      <div
        class="admission_ticket"
        fxLayout="column"
        fxLayoutGap="20px"
        fxLayoutAlign="start center"
      >
        <p class="accent_text">Click on ticket to enter</p>
        <img src="assets/images/ticket.svg" />
      </div>
    </div>
  </div>
</section>
