@import 'fluid';
@import 'variables';

:host {
  @include pageContainer();
  background-image: url('/assets/images/museum-start.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

$body_text: (
  $xs: 12px,
  $sm: 14px,
);

.content_container {
  margin: 40px auto;
  margin-top: 10px;
  max-width: $max-width;

  font-family: 'Lato', sans-serif;
  font-size: 14px;
  @include fluid(font-size, $body_text);
  line-height: 1.3;
  text-align: center;

  color: #4d3d27;
}

$card_padding: (
  $xs: 20px,
  $sm: 35px,
);
.welcome_card {
  width: calc(100vw - 30px);
  max-width: 800px;
  height: auto;
  background: #fcf7ee;
  opacity: 0.97;
  //   padding: 35px;
  @include fluid(padding, $card_padding);
}

.inner_container {
  border: 2px solid #e5ded5;
  width: 100%;
  height: 100%;
  padding: 30px;
}

$title_text: (
  $xs: 30px,
  $sm: 36px,
);

.title_text {
  font-family: 'Cinzel', serif;
  //   font-size: 36px;
  line-height: 1.5;
  @include fluid(font-size, $title_text);

  color: #4d3d27;
}

$accent_text: (
  $xs: 12px,
  $sm: 16px,
);

.accent_text {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  //   font-size: 16px;
  @include fluid(font-size, $accent_text);
  line-height: 1;
  text-transform: uppercase;

  color: #a77e46;
}

.card_description {
  max-width: 500px;
}

$admission_text: (
  $xs: 8px,
  $sm: 12px,
);

.admission_ticket {
  .accent_text {
    // font-size: 12px;
    @include fluid(font-size, $admission_text);
  }

  img {
    width: 100%;
    max-width: 250px;
  }
}

.divider {
  width: 100%;
  max-width: 300px;
  border-top: 1px solid #bdb9b1;
}
