/*****************
BREAKPOINTS
*****************/
$xs: 600px;
$sm: 960px;
$md: 1280px;
$lg: 1920px;
$xl: 2560px;
$xxl: 5000px;

@mixin fluid_rect_dim($width_map, $height_map) {
  @include fluid(min-width, $width_map);
  @include fluid(max-width, $width_map);
  @include fluid(width, $width_map);
  @include fluid(min-height, $height_map);
  @include fluid(max-height, $height_map);
  @include fluid(height, $height_map);
}

@mixin fluid_square_dim($dim_map) {
  @include fluid(min-width, $dim_map);
  @include fluid(max-width, $dim_map);
  @include fluid(width, $dim_map);
  @include fluid(min-height, $dim_map);
  @include fluid(max-height, $dim_map);
  @include fluid(height, $dim_map);
}

@mixin fluid_padding_tb($padding_map) {
  @include fluid(padding-top, $padding_map);
  @include fluid(padding-bottom, $padding_map);
}

@mixin fluid_padding_lr($padding_map) {
  @include fluid(padding-left, $padding_map);
  @include fluid(padding-right, $padding_map);
}

@mixin fluid_margin_tb($margin_map) {
  @include fluid(margin-top, $margin_map);
  @include fluid(margin-bottom, $margin_map);
}

@mixin fluid_margin_lr($margin_map) {
  @include fluid(margin-left, $margin_map);
  @include fluid(margin-right, $margin_map);
}

@mixin fluid_fixed_height($height_map) {
  @include fluid(height, $height_map);
  @include fluid(max-height, $height_map);
  @include fluid(min-height, $height_map);
}

@mixin fluid_fixed_width($width_map) {
  @include fluid(width, $width_map);
  @include fluid(max-width, $width_map);
  @include fluid(min-width, $width_map);
}

/* 
 @author Jake Wilson 
 Poly fluid sizing mixins 
*/
/// LIST-REMOVE
/// Remove an item from a list
/// @param $list - A SASS list
/// @param $index - The list index to remove
/// @returns A SASS list
/// @author Jake Wilson <jake.e.wilson@gmail.com>
@function list-remove($list, $index) {
  $newList: ();
  @for $i from 1 through length($list) {
    @if $i != $index {
      $newList: append($newList, nth($list, $i), 'space');
    }
  }
  @return $newList;
}

/// LIST_SORT
/// Sort a SASS list
/// @param $list - A SASS list
/// @returns A sorted SASS list
/// @requires function list-remove
/// @author Jake Wilson <jake.e.wilson@gmail.com>
@function list-sort($list) {
  $sortedlist: ();
  @while length($list) > 0 {
    $value: nth($list, 1);
    @each $item in $list {
      @if $item < $value {
        $value: $item;
      }
    }
    $sortedlist: append($sortedlist, $value, 'space');
    $list: list-remove($list, index($list, $value));
  }
  @return $sortedlist;
}

/// MAP-SORT
/// Sort map by keys
/// @param $map - A SASS map
/// @returns A SASS map sorted by keys
/// @requires function list-sort
/// @author Jake Wilson <jake.e.wilson@gmail.com>
@function map-sort($map) {
  $keys: list-sort(map-keys($map));
  $sortedMap: ();
  @each $key in $keys {
    $sortedMap: map-merge(
      $sortedMap,
      (
        $key: map-get($map, $key),
      )
    );
  }
  @return $sortedMap;
}

/// LINEAR-INTERPOLATION
/// Calculate the definition of a line between two points
/// @param $map - A Sass map of viewport widths and size value pairs
/// @returns A linear equation as a calc() function
/// @example
///   font-size: linear-interpolation((320px: 18px, 768px: 26px));
/// @author Jake Wilson <jake.e.wilson@gmail.com>
@function linear-interpolation($map) {
  $keys: map-keys($map);
  @if (length($keys) != 2) {
    @error "linear-interpolation() $map must be exactly 2 values";
  }
  // The slope
  $m: (map-get($map, nth($keys, 2)) - map-get($map, nth($keys, 1)))/ (nth(
          $keys,
          2
        ) - nth($keys, 1));

  // The y-intercept
  $b: map-get($map, nth($keys, 1)) - $m * nth($keys, 1);

  // Determine if the sign should be positive or negative
  $sign: '+';
  @if ($b < 0) {
    $sign: '-';
    $b: abs($b);
  }

  @return calc(#{$m * 100}vw #{$sign} #{$b});
}

/// POLY_FLUID_SIZING
/// Generate linear interpolated size values through multiple break points
/// @param $property - A string CSS property name
/// @param $map - A Sass map of viewport unit and size value pairs
/// @requires function linear-interpolation
/// @requires function map-sort
/// @example
///   @include poly-fluid-sizing('font-size', (576px: 22px, 768px: 24px, 992px: 34px));
/// @author Jake Wilson <jake.e.wilson@gmail.com>
@mixin fluid($property, $map) {
  // Get the number of provided breakpoints
  $length: length(map-keys($map));

  // Error if the number of breakpoints is < 2
  @if ($length < 2) {
    @error "fluid() $map requires at least values";
  }

  // Sort the map by viewport width (key)
  $map: map-sort($map);
  $keys: map-keys($map);

  // Minimum size
  #{$property}: map-get($map, nth($keys, 1));

  // Interpolated size through breakpoints
  @for $i from 1 through ($length - 1) {
    @media (min-width: nth($keys,$i)) {
      $value1: map-get($map, nth($keys, $i));
      $value2: map-get($map, nth($keys, ($i + 1)));
      // If values are not equal, perform linear interpolation
      @if ($value1 != $value2) {
        #{$property}: linear-interpolation(
          (
            nth($keys, $i): $value1,
            nth($keys, ($i + 1)): $value2,
          )
        );
      } @else {
        #{$property}: $value1;
      }
    }
  }

  // Maxmimum size
  @media (min-width: nth($keys,$length)) {
    #{$property}: map-get($map, nth($keys, $length));
  }
}

/*****************
Triangle Mixins
*****************/
@mixin css-triangle(
  $color,
  $direction,
  $size: 6px,
  $position: absolute,
  $round: false
) {
  @include pseudo($pos: $position);
  width: 0;
  height: 0;
  @if $round {
    border-radius: 3px;
  }
  @if $direction == down {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
    margin-top: 0 - round($size / 2.5);
  } @else if $direction == up {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
    margin-bottom: 0 - round($size / 2.5);
  } @else if $direction == right {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
    margin-right: -$size;
  } @else if $direction == left {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
    margin-left: -$size;
  }
}

/*****************
Old fluid mixins for linear scaling
between two values 
*****************/
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@function fluid-pixels($min-vw, $max-vw, $min-size, $max-size) {
  $umin: unit($min-size);
  $umax: unit($max-size);

  @if $umin == $umax {
    @return calc(
      #{$min-size} + #{strip-unit($max-size - $min-size)} *
        ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
    );
  } @else {
    @return $min-size;
  }
}

@mixin fluid-property($property_name, $min-vw, $max-vw, $min-size, $max-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-size);
  $u4: unit($max-size);
  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      #{$property_name}: $min-size;
      @media screen and (min-width: $min-vw) {
        #{$property_name}: fluid-pixels($min-vw, $max-vw, $min-size, $max-size);
      }
      @media screen and (min-width: $max-vw) {
        #{$property_name}: $max-size;
      }
    }
  }
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);
  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}
