@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&display=swap');

@font-face {
  font-family: 'Baskerville Old Face';
  src: url('/assets/fonts/baskerville.eot');
  src: url('/assets/fonts/baskerville.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/baskerville.woff') format('woff'),
    url('/assets/fonts/baskerville.ttf') format('truetype'),
    url('/assets/fonts/baskerville.svg#webfont') format('svg');
}

@font-face {
  font-family: 'Paul Signature';
  src: url('/assets/fonts/paul_signature.eot');
  src: url('/assets/fonts/paul_signature.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/paul_signature.woff') format('woff'),
    url('/assets/fonts/paul_signature.ttf') format('truetype'),
    url('/assets/fonts/paul_signature.svg#webfont') format('svg');
}
