$max-width: 1440px;

$page_padding_lr: (
  $xs: 20px,
  $sm: 60px,
);

$page_padding_top: (
  $xs: 100px,
  $sm: 150px,
);

@mixin pageContainer() {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: block;
  padding-bottom: 150px;
  @include fluid(padding-top, $page_padding_top);
  @include fluid_padding_lr($page_padding_lr);
}
