:host {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: block;
}

.app_container {
  width: 100%;
  min-height: 100vh;
  height: auto;
  position: relative;
}

app-header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

app-footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
