.footer {
  padding: 40px 20px;
  width: 100%;
  z-index: 200;
}

.copyright {
  width: 100%;
  max-width: 1440px;
  font-family: Fira Sans;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  text-align: center;
  font-size: 18px;
}

.fa-twitter {
  &:hover {
    color: #1da1f2;
  }
}

.fa-instagram {
  &:hover {
    color: #c13584;
  }
}
