<footer class="footer" fxLayout="row" fxLayoutAlign="center center">
  <div
    class="copyright"
    fxLayout="row"
    fxLayoutGap="20px"
    fxLayoutAlign="center center"
    fxLayout.lt-sm="column"
  >
    <p>&copy; 2019 wuluwuh.com</p>
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutGap.xs="15px">
      <a href="https://twitter.com/wuluwuh">
        <i class="fab fa-twitter" title="Follow us on twitter"></i
      ></a>
      <a href="https://www.instagram.com/wuluwuh/">
        <i class="fab fa-instagram" title="Follow us on instagram"></i
      ></a>
    </div>
  </div>
</footer>
