@import 'fluid';
@import 'variables';

$blurb_box_padding: (
  $xs: 40px,
  $lg: 70px,
);

$blurb_box_title: (
  $xs: 40px,
  $sm: 64px,
);

$blurb_box_text: (
  $xs: 16px,
  $sm: 18px,
);

:host {
  @include pageContainer();
  background: linear-gradient(131.18deg, #422385 34.2%, #9f03a3 93.78%);
  font-family: 'Fira Sans', sans-serif;
}

.content_container {
  margin: 40px auto;
  max-width: $max-width;
}

.blurb_title {
  color: #5b5b5b;
  h1 {
    font-family: 'Playfair Display', serif;
    @include fluid(font-size, $blurb_box_title);
  }

  span {
    font-size: 14px;
  }
}

.blurb_box {
  font-weight: 300;
  line-height: 1.4;
  @include fluid(font-size, $blurb_box_text);
  @include fluid(padding, $blurb_box_padding);

  max-width: 500px;

  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
}

.definition {
  font-weight: 600;
}

.twitter {
  font-weight: 600;
  color: #29a9e0;
}

.say_hello {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;

  color: #ffffff;
  background: #442284;
  border-radius: 5px;
  padding: 15px 25px;
  max-width: 200px;

  &:hover {
    background: lighten(#442284, 10%);
  }
}

.girls {
  width: auto;
  max-height: 550px;
}
