<section
  class="content_container"
  fxLayout="row"
  fxLayoutAlign="space-between"
  fxLayoutGap="30px"
  fxLayout.lt-lg="column"
  fxLayoutAlign.lt-lg="start center"
  fxLayoutGap.lt-lg="80px"
  fxLayoutGap.lt-md="60px"
>
  <div
    [ngClass]="routeAnimationElement"
    class="blurb_box"
    fxLayout="column"
    fxLayoutAlign="center start"
    fxLayoutGap="30px"
  >
    <div
      class="blurb_title"
      fxLayout="row"
      fxLayoutGap="10px"
      fxLayoutAlign="start end"
    >
      <h1>
        WLW
        <span>| </span>
        <span>wuluwuh </span>
        <span>|</span>
      </h1>
    </div>
    <div fxLayout="column" fxLayoutGap="20px">
      <p>
        <span class="definition">1. Women Loving Women</span> - an acronym for
        those in the world who love women who themselves present as women.
      </p>
      <p>
        Welcome to Wuluwuh - a fun little site for sharing novel lesbian games,
        content, and tools!
      </p>
      <p>
        If you like our content and want to see more, make sure to follow us on
        <a
          class="twitter"
          (click)="logTwitter()"
          href="https://mobile.twitter.com/wuluwuh"
          target="_blank"
          >Twitter!</a
        >
      </p>
    </div>

    <a
      class="say_hello"
      (click)="logMailTo()"
      href="mailto:wuluwuh@protonmail.com"
    >
      Say Hello
    </a>
  </div>

  <img
    class="girls"
    [ngClass]="routeAnimationElement"
    ngClass.lt-lg="lt-lg"
    src="assets/images/wlwomen.svg"
    alt="A cartoon depiction of a group of women who love women: A girl waving a rainbow flag, two women of different ethnicities kissing, two women walking side by side, and another couple with arms around each other."
  />
</section>
