@import 'fluid';
@import 'variables';

$title_size: (
  $xs: 30px,
  $lg: 40px,
);

$body_text_size: (
  $xs: 14px,
  $lg: 18px,
);

$encoded_text_size: (
  $xs: 14px,
  $lg: 30px,
);

$info_text_size: (
  $xs: 14px,
  $lg: 16px,
);

$card_padding: (
  $xs: 30px,
  $lg: 70px,
);

:host {
  @include pageContainer();
  background-image: url('/assets/images/lister_bg-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content_container {
  margin: 40px auto;
  margin-top: 10px;
  max-width: $max-width;
}

.box {
  background: linear-gradient(180deg, #fdfaf7 0%, #f3ebdf 100%);
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.45);
  border-radius: 15px;
  @include fluid(padding, $card_padding);
  // max-width: 800px;
}

.title {
  font-family: Baskerville Old Face;
  @include fluid(font-size, $title_size);
  font-weight: 500;
}

.description {
  font-family: Baskerville Old Face;
  @include fluid(font-size, $body_text_size);
}

.code_input {
  font-family: Baskerville Old Face;
  width: 100%;
  background: #e3d8d2;
  border: 1px solid #beb4af;
  border-radius: 5px;
  min-height: 250px;
  padding: 20px;
  @include fluid(font-size, $body_text_size);
}

.info {
  font-family: Baskerville Old Face;
  @include fluid(font-size, $info_text_size);
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    font-weight: 900;
    color: lighten(black, 30%);
  }
}

.black_button {
  font-family: Baskerville Old Face;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 15px 50px;
  background: #000000;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;

  &:hover {
    background: lighten(#000000, 20%);
  }
}

.line_button {
  font-family: Baskerville Old Face;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 15px 50px;
  border: 1px solid #000000;
  border-radius: 30px;
  cursor: pointer;

  &:hover {
    background: darken(#f3ebdf, 1%);
  }
}

.copy_button {
  max-width: 190px;
}

.copied {
  font-family: Baskerville Old Face;
}

.bold {
  font-weight: 900;
}

.encoded_text {
  font-family: 'Satisfy', cursive;
  letter-spacing: 2px;
  @include fluid(font-size, $encoded_text_size);
}

hr {
  height: 1px;
  border: 0;
  color: #e5e1dc;
  background-color: #e5e1dc;
  border-color: #e5e1dc;
}
