<section
  class="content_container"
  fxLayout="row"
  fxLayoutAlign="center"
  fxLayout.lt-md="column"
  fxLayoutGap="40px"
>
  <div
    [ngClass]="routeAnimationElement"
    class="box"
    fxLayout="column"
    fxLayoutGap="30px"
    fxLayoutGap.lt-md="20px"
    fxFlex
    fxFlex.lt-md="1 1 auto"
  >
    <div fxLayout="column" fxLayoutGap="15px">
      <h1 class="title">Anne Lister Encoder/Decoder</h1>
      <hr />
    </div>
    <p class="description">
      Type your text into the text box below, click 'encode', and watch your
      text transform into the journal code used by Anne Lister in her early
      1800's diaries (as seen on BBC/HBO Series Gentlemen Jack)!
    </p>
    <p class="description">
      If someone has sent you encoded text, you can also paste it into this text
      box and click the 'decode' button to have it translated back.
    </p>
    <p class="description">
      <span class="bold">Note:</span> Symbols not in the cypher are ommitted
      from any translation.
    </p>
    <form [formGroup]="inputTextForm" fxLayout="column" fxLayoutGap="20px">
      <textarea formControlName="inputText" class="code_input"></textarea>
      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        fxLayoutGap="20px"
        fxLayout.lt-sm="column-reverse"
        fxLayoutGap.lt-sm="40px"
      >
        <div
          fxLayout="row"
          fxLayoutAlign="center center"
          fxLayoutGap="30px"
          fxLayout.lt-sm="column"
          fxLayoutGap.lt-sm="10px"
        >
          <p (click)="showCipher()" class="info">See Cypher</p>
        </div>
        <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column">
          <button (click)="encode()" class="black_button">Encode</button>
          <button (click)="decode()" class="line_button">Decode</button>
        </div>
      </div>
    </form>
    <hr />
    <div
      fxLayout="row"
      fxLayoutGap="40px"
      fxLayoutAlign="center center"
      fxLayout.xs="column"
    >
      <a
        (click)="logListerInfo()"
        href="https://www.annelister.co.uk/"
        target="_blank"
      >
        <p class="info">More About Anne Lister</p>
      </a>
      <a
        (click)="logBookInfo()"
        href="https://www.penguin.co.uk/books/111/1114926/gentleman-jack/9781785944048.html"
        target="_blank"
      >
        <p class="info">TV Show Tie in Book</p>
      </a>
    </div>
  </div>
  <div
    [ngClass]="routeAnimationElement"
    class="box"
    fxLayout="column"
    fxLayoutGap="40px"
    fxLayoutAlign="space-between"
    fxFlex
    fxFlex.lt-md="1 1 auto"
  >
    <div fxLayout="column" fxLayoutGap="40px">
      <div fxLayout="column" fxLayoutGap="20px">
        <h2 class="title">Output</h2>
        <hr />
      </div>
      <p class="encoded_text">
        {{ this.outputText }}
      </p>
    </div>
    <div
      *appShellNoRender
      fxLayout="row"
      fxLayoutGap="20px"
      fxFlexAlign="end"
      fxLayoutAlign="end center"
      fxLayoutGap.lt-sm="10px"
      fxLayout.lt-sm="column"
      fxLayoutAlign.lt-sm="center center"
      fxFlexAlign.lt-sm="center"
    >
      <p class="copied" *ngIf="copySuccess">Copy success!</p>
      <button
        (click)="logCopyText()"
        class="line_button copy_button"
        ngxClipboard
        [cbContent]="this.outputText"
        (cbOnSuccess)="copied($event)"
      >
        Copy Text
      </button>
    </div>
  </div>
</section>
