@import 'fluid';
@import 'variables';

/* 
 These are all variables that set the parameters for making the bingo board super responsive
 and scaled based on the width of the viewport.
 
 But... I don't remember anymore how this all works... 
*/
// Settings
$bg-percent-w: 100vw;
$bg-percent-h: $bg-percent-w * 0.5625; //* 0.5078125;
$vw-percent: 80vw;

$min-board-width: 250px;
$max-board-width: 700px;

$min-query: $min-board-width/80 * 100;
$max-query: $max-board-width/80 * 100;

$min-bg-w: $min-query;
$min-bg-h: $min-query * 0.5625;

$max-bg-w: $max-query;
$max-bg-h: $max-query * 0.5625;

$board-percent: 0.84242;
$border-percent: 0.07879;
$board-item: 0.157;
$circle-percent: 0.03636;
$circle-space-percent: 0.0345;
$circle-side-percent: 0.02121;

$circle-w: $vw-percent * $circle-percent;
$circle-space-w: $vw-percent * $circle-space-percent;
$min-circle-space-w: $min-board-width * $circle-space-percent;
$min-circle-w: $min-board-width * $circle-percent;
$max-circle-space-w: $max-board-width * $circle-space-percent;
$max-circle-w: $max-board-width * $circle-percent;
$space: $vw-percent * $circle-side-percent;
$max-space: $max-board-width * $circle-side-percent;
$min-space: $min-board-width * $circle-side-percent;

$popcorn-percent: 0.151515;
$popcorn-left-percent: 0.11;
$popcorn-bottom-percent: 0.04;

$popcorn-w: $vw-percent * $popcorn-percent;
$popcorn-left: $vw-percent * $popcorn-left-percent;
$popcorn-bottom: $vw-percent * $popcorn-bottom-percent;

$raptor-percent: 1.09818;
$raptor-right-percent: 0.39;
$raptor-bottom-percent: 0.1;
$raptor-w: $vw-percent * $raptor-percent;
$raptor-right: $vw-percent * $raptor-right-percent;
$raptor-bottom: $vw-percent * $raptor-bottom-percent;

$btn-percent: 0.07273;
$btn-bottom-percent: 0.08448;
$btn-side-percent: 0.4118;
$btn-width: $vw-percent * $btn-percent;
$btn-bottom: $vw-percent * $btn-bottom-percent;
$btn-side: $vw-percent * $btn-side-percent;

$info-w-percent: 0.95037;
$info-h-percent: 0.76452;
$info-w: $vw-percent * $info-w-percent;
$info-h: $vw-percent * $info-h-percent;

$title-top-percent: 0.063358;
$title-top: $vw-percent * $title-top-percent;

$square-padding-percent: 0.01;
$square-padding: $vw-percent * $square-padding-percent;

// Fluid Title
$title_font_size: (
  $xs: 24px,
  $md: 48px,
);

:host {
  @include pageContainer();

  background-image: url('/assets/images/movie_bg-min.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

// *************
// BOARD
// *************
h1 {
  font-family: 'Fjalla One', sans-serif;
  @include fluid(font-size, $title_font_size);
  line-height: 60px;
  text-transform: uppercase;

  color: #ffffff;
}

.board_container {
  position: relative;
}

#popcorn {
  position: absolute;
  left: -$popcorn-left;
  bottom: $popcorn-bottom;

  width: $popcorn-w;
  height: auto;

  @media screen and (max-width: $min-query) {
    width: $popcorn-percent * $min-board-width;
    left: -($popcorn-left-percent * $min-board-width);
    bottom: $popcorn-bottom-percent * $min-board-width;
  }
  @media screen and (min-width: $max-query) {
    width: $popcorn-percent * $max-board-width;
    left: -($popcorn-left-percent * $max-board-width);
    bottom: $popcorn-bottom-percent * $max-board-width;
  }
}

#raptor {
  position: absolute;
  right: -$raptor-right;
  bottom: $raptor-bottom;

  width: $raptor-w;
  height: auto;

  @media screen and (max-width: $min-query) {
    width: $raptor-percent * $min-board-width;
    right: -($raptor-right-percent * $min-board-width);
    bottom: $raptor-bottom-percent * $min-board-width;
  }
  @media screen and (min-width: $max-query) {
    width: $raptor-percent * $max-board-width;
    right: -($raptor-right-percent * $max-board-width);
    bottom: $raptor-bottom-percent * $max-board-width;
  }
}

.bingo_border {
  background: #c5223f;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
  border-radius: 15px;

  position: relative; // Needed for the z-index to work
  z-index: 5;

  width: $vw-percent;
  height: $vw-percent;

  @media screen and (max-width: $min-query) {
    width: $min-board-width;
    height: $min-board-width;
  }
  @media screen and (min-width: $max-query) {
    width: $max-board-width;
    height: $max-board-width;
  }
}

.bingo_board {
  background: #8f142a;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;

  margin: auto;

  width: $vw-percent * $board-percent;
  height: $vw-percent * $board-percent;

  @media screen and (max-width: $min-query) {
    width: $min-board-width * $board-percent;
    height: $min-board-width * $board-percent;
  }
  @media screen and (min-width: $max-query) {
    width: $max-board-width * $board-percent;
    height: $max-board-width * $board-percent;
  }
}

.bingo_square {
  font-family: 'Fjalla One', sans-serif;
  @include fluid-type($min-query, $max-query, 6px, 18px);
  font-weight: 500;

  text-align: left;
  background: #ffe8c4;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  border-radius: 16%;
  padding: $square-padding;
  cursor: pointer;
  text-transform: uppercase;

  display: flex;
  align-items: center;

  &:hover {
    background-color: darken(#ffe8c4, 10);
  }

  &.active {
    color: #ffffff;
    background-color: #ffaf30;
    transition: background-color 0.5s ease-in;
  }

  width: $vw-percent * $board-item;
  height: $vw-percent * $board-item;

  @media screen and (max-width: $min-query) {
    width: $min-board-width * $board-item;
    height: $min-board-width * $board-item;
    padding: $min-board-width * $square-padding-percent;
  }
  @media screen and (min-width: $max-query) {
    width: $max-board-width * $board-item;
    height: $max-board-width * $board-item;
    padding: $max-board-width * $square-padding-percent;
  }
}

// *************
// Bottom Buttons
// *************
#info_button {
  right: $btn-side;

  background: #29abe2;
  box-shadow: 0px 4px 0px #1485b4;

  &:hover {
    background: lighten(#29abe2, 7);
  }

  &:active {
    background: darken(#29abe2, 7);
  }

  @media screen and (max-width: $min-query) {
    right: $btn-side-percent * $min-board-width;
  }
  @media screen and (min-width: $max-query) {
    right: $btn-side-percent * $max-board-width;
  }
}

#refresh_button {
  left: $btn-side;

  background: #8cc63f;
  box-shadow: 0px 4px 0px #689f20;

  &:hover {
    background: lighten(#8cc63f, 7);
  }
  &:active {
    background: darken(#8cc63f, 7);
  }

  @media screen and (max-width: $min-query) {
    left: $btn-side-percent * $min-board-width;
  }
  @media screen and (min-width: $max-query) {
    left: $btn-side-percent * $max-board-width;
  }
}

.bingo_button {
  z-index: 5;
  width: $btn-width;
  height: $btn-width;
  border: 0px;
  border-radius: 50%;
  cursor: pointer;

  color: white;

  @include fluid-type($min-query, $max-query, 10px, 32px);

  &:hover {
    @include fluid-type($min-query, $max-query, 14px, 36px);
  }

  @media screen and (max-width: $min-query) {
    width: $btn-percent * $min-board-width;
    height: $btn-percent * $min-board-width;
  }
  @media screen and (min-width: $max-query) {
    width: $btn-percent * $max-board-width;
    height: $btn-percent * $max-board-width;
  }
}

// *************
// Lights
// *************

.light {
  background: #ffffff;
  box-shadow: 0px 0px 15px #ffaf30;
  border-radius: 50%;
  width: $circle-w;
  height: $circle-w;

  position: absolute;
  z-index: 10;

  @media screen and (max-width: $min-query) {
    width: $circle-percent * $min-board-width;
    height: $circle-percent * $min-board-width;
  }
  @media screen and (min-width: $max-query) {
    width: $circle-percent * $max-board-width;
    height: $circle-percent * $max-board-width;
  }
}

// Top
@for $index from 0 through 13 {
  $i: $index;
  #light-#{$index} {
    top: $space;
    left: $space + ($i * ($circle-space-w + $circle-w));

    @media screen and (max-width: $min-query) {
      top: $min-space;
      left: $min-space + ($i * ($min-circle-space-w + $min-circle-w));
    }
    @media screen and (min-width: $max-query) {
      top: $max-space;
      left: $max-space + ($i * ($max-circle-space-w + $max-circle-w));
    }
  }
}

// Right
@for $index from 14 through 25 {
  $i: $index - 13;
  #light-#{$index} {
    top: $space + ($i * ($circle-space-w + $circle-w));
    right: $space;

    @media screen and (max-width: $min-query) {
      top: $min-space + ($i * ($min-circle-space-w + $min-circle-w));
      right: $min-space;
    }
    @media screen and (min-width: $max-query) {
      top: $max-space + ($i * ($max-circle-space-w + $max-circle-w));
      right: $max-space;
    }
  }
}

// Bottom
@for $index from 26 through 39 {
  $i: $index - 26;
  #light-#{$index} {
    bottom: $space;
    right: $space + ($i * ($circle-space-w + $circle-w));

    @media screen and (max-width: $min-query) {
      bottom: $min-space;
      right: $min-space + ($i * ($min-circle-space-w + $min-circle-w));
    }
    @media screen and (min-width: $max-query) {
      bottom: $max-space;
      right: $max-space + ($i * ($max-circle-space-w + $max-circle-w));
    }
  }
}

// Left
@for $index from 40 through 52 {
  $i: $index - 39;
  #light-#{$index} {
    bottom: $space + ($i * ($circle-space-w + $circle-w));
    left: $space;

    @media screen and (max-width: $min-query) {
      bottom: $min-space + ($i * ($min-circle-space-w + $min-circle-w));
      left: $min-space;
    }
    @media screen and (min-width: $max-query) {
      bottom: $max-space + ($i * ($max-circle-space-w + $max-circle-w));
      left: $max-space;
    }
  }
}

// *************
// Overlay Container
// *************
.bingo_overlay {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(62, 25, 25, 0.8);
}

// *************
// BINGO! Overlay
// *************

#bingo {
  z-index: 105;
  opacity: 1;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 45vw;
  min-width: 400px;
  max-width: 1000px;
  height: auto;

  animation: grow-in 0.8s;
}

@keyframes grow-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

#fireworks {
  z-index: 110;
  // opacity: 1;

  .before {
    z-index: 110;
  }

  .after {
    z-index: 110;
  }
}

.pyro > .before,
.pyro > .after {
  position: fixed;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84,
    190px 16.33333px #002bff, -113px -308.66667px #ff009d,
    -109px -287.66667px #ffb300, -50px -313.66667px #ff006e,
    226px -31.66667px #ff4000, 180px -351.66667px #ff00d0,
    -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00,
    -69px -27.66667px #ff0400, -111px -339.66667px #6200ff,
    155px -237.66667px #00ddff, -152px -380.66667px #00ffd0,
    -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00,
    -88px 10.33333px #0d00ff, 112px -309.66667px #005eff,
    69px -415.66667px #ff00a6, 168px -100.66667px #ff004c,
    -244px 24.33333px #ff6600, 97px -325.66667px #ff0066,
    -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff,
    140px -196.66667px #9000ff, 125px -175.66667px #00bbff,
    118px -381.66667px #ff002f, 144px -111.66667px #ffae00,
    36px -78.66667px #f600ff, -63px -196.66667px #c800ff,
    -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff,
    -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2,
    91px -278.66667px #000dff, -22px -191.66667px #9dff00,
    139px -392.66667px #a6ff00, 56px -2.66667px #0099ff,
    -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb,
    -238px -346.66667px #00ff73, 62px -363.66667px #0088ff,
    244px -170.66667px #0062ff, 224px -142.66667px #b300ff,
    141px -208.66667px #9000ff, 211px -285.66667px #ff6600,
    181px -128.66667px #1e00ff, 90px -123.66667px #c800ff,
    189px 70.33333px #00ffc8, -18px -383.66667px #00ff33,
    100px -6.66667px #ff008c;
  animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  animation-delay: 1.25s, 1.25s, 1.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white;
  }
}

@keyframes gravity {
  to {
    transform: translateY(20vh);
    opacity: 0;
  }
}

@keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
