<ng-container *ngIf="bingo">
  <div (click)="setBingo(false)" class="bingo_overlay">
    <div id="fireworks" class="pyro">
      <div class="before"></div>
      <div class="after"></div>
    </div>
    <img src="assets/images/bingo-min.png" id="bingo" />
  </div>
</ng-container>

<section
  class="background_container"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="40px"
  fxLayoutGap.lt-sm="20px"
>
  <h1 [ngClass]="routeAnimationElement">Lesbian Movie Bingo!</h1>
  <div class="board_container">
    <img
      [ngClass]="routeAnimationElement"
      id="popcorn"
      src="assets/images/gaypopcorn-min.png"
      alt="Rainbow popcorn"
    />
    <img
      [ngClass]="routeAnimationElement"
      id="raptor"
      src="assets/images/raptorshadow-min.png"
      alt="Shadow of a raptor"
    />
    <div class="bingo_border" fxLayout="row" [ngClass]="routeAnimationElement">
      <div *ngFor="let l of lights" id="light-{{ l }}" class="light"></div>
      <div class="bingo_board" fxLayout="column" fxLayoutAlign="space-around">
        <ng-container *ngFor="let row of this.board; let i = index">
          <div id="row{{ i }}" fxLayout="row" fxLayoutAlign="space-around">
            <div
              class="bingo_square"
              *ngFor="let item of row; let j = index"
              [class.active]="item.active"
              (click)="toggleCard(item, i, j)"
            >
              <span>{{ item.text }}</span>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div
    class="button_row"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="20px"
  >
    <button
      fxLayout="row"
      fxLayoutAlign="center center"
      (click)="resetBoard()"
      id="refresh_button"
      class="bingo_button"
    >
      <i class="fas fa-sync-alt" title="Randomize board"></i>
    </button>
    <button
      fxLayout="row"
      fxLayoutAlign="center center"
      (click)="setDisplayInfo(true)"
      id="info_button"
      class="bingo_button"
    >
      <i class="fas fa-info" title="More Info"></i>
    </button>
  </div>
</section>
