<button id="close_button" (click)="close()">x</button>
<div id="info_container" fxLayout="column" fxLayoutGap="40px">
  <div fxLayout="column" fxLayoutGap="10px">
    <h1>Bingo Rules</h1>
    <p>
      Grab some popcorn, load up that B-grade wlw movie, and get ready to hunt
      for those Lesbian movie tropes! In this particular Bingo game, the
      objective is to try and make any row, column, or diagonal light up for
      that bitter-sweet Bingo!
    </p>
    <p>
      Press the
      <i class="fas fa-sync-alt"></i> button to randomise the board at any time.
    </p>
    <p></p>
  </div>

  <div fxLayout="column" fxLayoutGap="10px">
    <h1>Lesbian Movie Tropes</h1>
    <p>
      Unfortunatley, queer media is rife with negative stereotypes, fetishised
      depictions, and outright dissapointment.
    </p>
    <p>
      This bingo board aims to make fun of these tropes - in fun, gamified
      format.
    </p>
    <p>Your movie may suck, but hey, at least you got Bingo!</p>
  </div>

  <div fxLayout="column" fxLayoutGap="10px">
    <h1>Attribution</h1>
    <p>
      Additional sound effects from
      <a href="https://www.zapsplat.com">Zapsplat</a>
    </p>
    <p>
      Firework effects by
      <a href="https://jsfiddle.net/elin/7m3bL/">Eddie Lin</a>
    </p>
  </div>
</div>
