@import 'fluid';

:host {
  width: calc(100vw - 30px);
  max-height: calc(100vh - 80px);
  max-width: 700px;

  border: 15px solid #ebdcb7;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);

  background: #fffaed;
  border-radius: 15px;

  padding: 20px 10px 10px 10px;

  position: relative;
}

#info_container {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px;
}

#close_button {
  width: 30px;
  height: 30px;

  position: absolute;
  top: -13px;
  right: -13px;

  background: #ebdcb7;

  font-family: 'Lato', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;

  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;

  color: #000000;

  &:hover {
    font-size: 22px;
  }
}

h1 {
  font-family: 'Fjalla One', sans-serif;
  @include fluid-type($xs, $lg, 24px, 32px);
  text-transform: uppercase;

  color: #20233b;
}

p {
  font-family: 'Lato', sans-serif;
  @include fluid-type($xs, $lg, 12px, 18px);

  color: #635454;
}
