@import 'fluid';

$cipher_text_size: (
  $xs: 24px,
  $lg: 30px,
);

:host {
  background: linear-gradient(180deg, #fdfaf7 0%, #f3ebdf 100%);
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.45);
  border-radius: 15px;

  width: calc(100vw - 30px);
  max-height: calc(100vh - 80px);
  max-width: 700px;
  padding: 45px 20px 20px 20px;

  position: relative;
}

#cipher_container {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px;
}

#close_button {
  width: 30px;
  height: 30px;

  position: absolute;
  top: 3px;
  right: 3px;

  background: #ebdcb7;

  font-family: 'Baskerville Old Face', serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;

  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;

  color: #000000;

  &:hover {
    font-size: 22px;
  }
}

h2 {
  font-family: 'Baskerville Old Face', serif;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
}

h3 {
  font-family: 'Baskerville Old Face', serif;
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-family: 'Satisfy', cursive;
  @include fluid(font-size, $cipher_text_size);

  &.info {
    font-family: Baskerville Old Face;
    font-size: 16px;

    a {
      font-weight: bold;
      color: lighten(#000, 10%);
    }
  }
}
