<button id="close_button" (click)="close()">x</button>
<div
  id="cipher_container"
  fxLayout="column"
  fxLayoutAlign="start center"
  fxLayoutGap="20px"
>
  <h2>Anne Lister Cypher</h2>
  <p class="info">
    Adapted from
    <a
      href="https://news.files.bbci.co.uk/include/shorthand/43047/media/copyofcode-lr_dn904gg.jpg"
      target="_blank"
    >
      here.
    </a>
  </p>
  <div
    fxLayout="row"
    fxLayoutAlign="space-around"
    fxLayoutGap="40px"
    fxLayout.lt-md="column"
  >
    <div fxLayout="column" fxLayoutAlign="start center">
      <h3>Single Letters</h3>
      <p *ngFor="let cipher of this.singleLetterCipher">
        {{ cipher }}
      </p>
    </div>
    <div fxLayout="column" fxLayoutAlign="start center">
      <h3>Double Letters</h3>
      <p *ngFor="let cipher of this.doubleLetterCipher">
        {{ cipher }}
      </p>
    </div>
    <div fxLayout="column" fxLayoutAlign="start center">
      <h3>Words</h3>
      <p *ngFor="let cipher of this.wordCipher">
        {{ cipher }}
      </p>
    </div>
  </div>
</div>
